.site-nav--container {
	transition: all 400ms;
}

.site--home-link {
	height: 7rem;
	margin: 0.25rem 0;
	width: 7rem;

	svg {
		height: 100%;
		width: 100%;
	}
}

.dark-on-light.site-nav--container {
	.menu-panel--left--toggle {
		background: #000;
		color: #fff;
	}

	svg {
		fill: #000;
	}
}

.light-on-dark.site-nav--container {
	.menu-panel--left--toggle {
		background: #fff;
		color: #000;
	}

	svg {
		fill: #fff;
	}
}

.reduce-size.site-nav--container {
	background: #000;

	.site--home-link {
		height: 3rem;
		width: 3rem;
	}

	.menu-panel--left--toggle {
		background: #000;
		color: #fff;
	}

	svg {
		fill: #fff;
	}
}

.menu-panel--left {
	transition: all 400ms;

	a {
		color: $white;
		display: block;
		font-size: 1.5rem;
		padding: 0.5rem 0;
	}

	li {
		margin-bottom: 1rem;
	}
}
