.site--home-link {
	height: 4rem;
	margin: 0.25rem 0;
	width: 4rem;

	svg {
		height: 100%;
		width: 100%;
	}
}

.site-nav--container {
	svg {
		fill: #fff;
	}
}

.menu-trigger {
	appearance: none;
	background: none;
	border: none;
	color: #fff;

	&:focus {
		outline: none !important;
	}
}

.menu-item-list,
.site-nav--bar {
	transition: all 400ms;
	background: rgba(0, 0, 0, 0.85);
	backdrop-filter: blur(5px);
}

.menu-item-list {
	transform: translateX(100%);

	&.active {
		transform: translateX(0);
	}
}

@media screen and (min-width: 768px) {
	.menu-item-list {
		transform: translateX(0);
	}
}

.site-nav > li:last-child span {
	border-right: none !important;
}

.site-nav .menu-item {
	position: relative;
}

.site-nav .sub-menu {
	@extend .list-unstyled;
	position: absolute;
	top: 100%;
	right: 0;
}

.site-nav .sub-menu .menu-item {
	
}
