.site--home-link {
	height: 3rem;
	margin: 0.5rem 0;
	width: 3rem;

	svg {
		height: 100%;
		width: 100%;
	}
}

.site-nav--container {
	svg {
		fill: #fff;
	}
}

.menu-trigger {
	appearance: none;
	background: none;
	border: none;
	color: #fff;

	&:focus {
		outline: none !important;
	}
}

.menu-item-list,
.site-nav--bar {
	backdrop-filter: blur(5px);
	background: rgba(0, 0, 0, 0.85);
	transition: all 400ms;
}

.menu-item-list {
	transform: translateX(100%);

	&.active {
		transform: translateX(0);
	}
}

@media screen and (min-width: 768px) {
	.menu-item-list {
		transform: translateX(0);
	}
}

.site-nav .menu-item {
	position: relative;
}

.site-nav .sub-menu {
	@extend .list-unstyled;

	@media screen and (min-width: 768px) {
		display: none;
		position: absolute;
		right: 0;
		text-align: right;
		top: 100%;
	}
}

.site-nav > .menu-item:hover .sub-menu {
	display: block;
}


